<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<title>Hospital IT System</title>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
	<h2>Lista lekarzy</h2>
	<div class="display-List">
		<table>
			<tr>
				<th>Id</th>
				<th>Imię i nazwisko</th>
			</tr>
			<th:block th:each="doc:${doctors}">
				<tr>
					<td th:text="${doc.id}">ID</td>
					<td><a th:href="@{/doctors/} + ${doc.id}"
						th:text="${doc.firstName + ' ' + doc.lastName}">FULL_NAME</a></td>
				</tr>
			</th:block>
		</table>
	</div>
	<div>
	<p><a th:href="@{/doctors/form}">Utwórz</a></p>
    <p><a th:href="@{/}">Strona domowa</a></p>
	</div>

</body>
</html>